#logo{
      }
      body{
           background-color:#ebeff5;
           }
      #total_orders{
           background-color:#4cb4c7;
           }
      #orders_delivered{
           background-color:#4cb4c7;
      }
      #orders_pending{
           background-color:#4cb4c7;
      }
      #orders_delivered{
           background-color:#4cb4c7;
      }